.AllProgressPage{
    /* background-color: gray; */
    background-image: url('/Untitled (1).png');
    background-position: right;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}