.FirstDivMobileTop{
  min-height: 40vh;
  position: relative;
  /* background-color: rgb(97, 205, 95); */
  /* background-color: rgb(147, 151, 146); */
  background-color: gainsboro;
  color: black;
  font-family: System;
  border-radius: 0px 0px 30px 30px ;
}
.NavMobileAppointment{
    width: 100vw;
    background-color: gainsboro;
    box-shadow: 0px 10px 10px -10px rgb(26, 50, 13);
    /* background-color: rgb(50, 143, 19); */
}
.ProfileRightMobileTop{
    border-radius: 100%;
    width:45x;
    height: 45px;
}
.AllSessionsMobileDiv{
    width: 100vw;
    /* height: max-content; */
    height: 50vh;
    overflow-y: scroll ;
    /* background-color: green; */
}
.SingleSessionMobileDiv{
    width: 85%;
    /* background-color: #b7f3b7; */
    background-image: url('https://cdn.pixabay.com/photo/2017/08/06/22/59/abstract-2597264_640.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    margin: auto;
    position: relative;
    border-radius: 20px;
}
.doneCircleMobile{
    width: 55px;
    height: 50px;
    border-radius: 100%;
    /* background-color: rgb(194, 192, 192); */
    background-color: rgb(44, 172, 44);
}
.AnotherBigBadgeNumberMobile{
    position: absolute;
    bottom: -15%;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    left: 0;
    background-color: rgb(185, 193, 185);
}

.SingleSessionDesktopDiv{
    width: 40%;
    background-image: url('https://cdn.pixabay.com/photo/2017/08/06/22/59/abstract-2597264_640.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    margin: auto;
    position: relative;
    border-radius: 20px;
}